body
{
background-color:#99CCFF;
text-align:center;

}

h1
{
font-size:55px;
}

a
{
border:5px solid black;
font-size:48px;
font-family:Cursive;
}


p
{

font-family:Cursive;
color:red;
font-size:35px;
}

h3
{
font-family:Cursive;
font-size:35px;
bullet-align:center;
}
li
{
font-family:Cursive;
font-size:35px;
}
h2
{
text-decoration:underline;
text-align:center;
}
