body
{
background-color:#99CCFF;
text-align:center;
}

a
{
border:5px solid black;
font-size:48px;
font-family:Cursive;
text-align:center;
}

h1
{

font-size:55px;
text-align:center;
}

p
{

font-family:Cursive;
color:red;
font-size:35px;
text-align:center;
}
h2
{
text-align:center;
}


